allow rild { efs_file }:file rw_file_perms;
allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };
allow rild sysfs:file { read open write getattr };
allow rild device:chr_file ioctl;
allow rild self:netlink_kobject_uevent_socket { create bind read write setopt };
allow rild radio_device:chr_file rw_file_perms;
allow rild efs_block_device:blk_file rw_file_perms;
allow rild efs_file:file { read open write setattr };
allow rild proc_net:file write;
allow rild block_device:dir search;



#W/rild    ( 2480): type=1400 audit(0.0:20): avc: denied { getattr } for path="/efs/nv_data.bin" dev="mmcblk0p3" ino=33 scontext=u:r:rild:s0 tcontext=u:object_r:unlabeled:s0 tclass=file
#W/rild    ( 2480): type=1400 audit(0.0:24): avc: denied { unlink } for name="nv_data.bin" dev="mmcblk0p3" ino=33 scontext=u:r:rild:s0 tcontext=u:object_r:unlabeled:s0 tclass=file
#W/rild    ( 3296): type=1400 audit(0.0:172): avc: denied { read write } for name="nv_data.bin" dev="mmcblk0p3" ino=33 scontext=u:r:rild:s0 tcontext=u:object_r:unlabeled:s0 tclass=file
allow rild unlabeled:file { open read write getattr setattr unlink };

#W/rild    ( 2504): type=1400 audit(0.0:25): avc: denied { write } for name="radio" dev="mmcblk0p21" ino=260107 scontext=u:r:rild:s0 tcontext=u:object_r:system_data_file:s0 tclass=dir
#W/rild    ( 2466): type=1400 audit(0.0:23): avc: denied { add_name } for name="mgzc" scontext=u:r:rild:s0 tcontext=u:object_r:system_data_file:s0 tclass=dir
allow rild system_data_file:dir { write add_name remove_name };

#W/rild    ( 2518): type=1400 audit(0.0:22): avc: denied { create } for name="mgzc" scontext=u:r:rild:s0 tcontext=u:object_r:system_data_file:s0 tclass=file
#W/logcat  ( 3033): type=1400 audit(0.0:122): avc: denied { append } for name="radio_SIM_Removed.log" dev="mmcblk0p21" ino=260705 scontext=u:r:rild:s0 tcontext=u:object_r:system_data_file:s0 tclass=file
#allow rild system_data_file:file { unlink create write append setattr };

#W/rild    ( 2582): type=1400 audit(0.0:163): avc: denied { search } for name="imei" dev="mmcblk0p3" ino=24 scontext=u:r:rild:s0 tcontext=u:object_r:unlabeled:s0 tclass=dir
#W/rild    ( 2582): type=1400 audit(0.0:164): avc: denied { search } for name="FactoryApp" dev="mmcblk0p3" ino=25 scontext=u:r:rild:s0 tcontext=u:object_r:unlabeled:s0 tclass=dir
allow rild unlabeled:dir { search };

allow rild unlabeled:file { open read getattr };

#W/rild    ( 2896): type=1400 audit(0.0:327): avc: denied { search } for name="2381" dev="proc" ino=6328 scontext=u:r:rild:s0 tcontext=u:r:mediaserver:s0 tclass=dir
allow rild mediaserver:dir { search };

#W/rild    ( 2866): type=1400 audit(0.0:121): avc: denied { read } for name="cmdline" dev="proc" ino=5423 scontext=u:r:rild:s0 tcontext=u:r:mediaserver:s0 tclass=file
#W/rild    ( 2864): type=1400 audit(0.0:121): avc: denied { open } for name="cmdline" dev="proc" ino=6230 scontext=u:r:rild:s0 tcontext=u:r:mediaserver:s0 tclass=file
#W/rild    ( 2865): type=1400 audit(0.0:120): avc: denied { getattr } for path="/proc/2385/cmdline" dev="proc" ino=4636 scontext=u:r:rild:s0 tcontext=u:r:mediaserver:s0 tclass=file
allow rild mediaserver:file { open read write getattr };

#W/logcat  ( 2869): type=1400 audit(0.0:120): avc: denied { write } for name="logdr" dev="tmpfs" ino=3547 scontext=u:r:rild:s0 tcontext=u:object_r:logdr_socket:s0 tclass=sock_file
allow rild logdr_socket:sock_file { write };

#W/logcat  ( 2867): type=1400 audit(0.0:120): avc: denied { connectto } for path="/dev/socket/logdr" scontext=u:r:rild:s0 tcontext=u:r:logd:s0 tclass=unix_stream_socket
allow rild logd:unix_stream_socket { connectto read write };

