allow servicemanager init:dir search;
allow servicemanager init:file { read open };
allow servicemanager init:process getattr;

#avc: denied { search } for name="5830" dev="proc" ino=21649 scontext=u:r:servicemanager:s0 tcontext=u:r:zygote:s0 tclass=dir permissive=1
allow servicemanager zygote:dir search;

#avc: denied { read } for name="current" dev="proc" ino=22592 scontext=u:r:servicemanager:s0 tcontext=u:r:zygote:s0 tclass=file permissive=1
#avc: denied { open } for name="current" dev="proc" ino=22592 scontext=u:r:servicemanager:s0 tcontext=u:r:zygote:s0 tclass=file permissive=1
allow servicemanager zygote:file { read open };

#avc: denied { getattr } for scontext=u:r:servicemanager:s0 tcontext=u:r:zygote:s0 tclass=process permissive=1
allow servicemanager zygote:process getattr;
